@CHARSET "ISO-8859-1";
body {
	
	max-width: 90%;
	margin: auto;
	background-image: url("worl-map.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

li
{	font-size: 15pt;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #DFDFDF;
}
ul{
	width: 700px; 
}