#header {
	font-family: "Courier New";
	font-size: 100px;
	color: #eee;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
	font-family: "Courier New";
	font-size: 20pt;
	color: #eee;
	margin: 0 0 1em;
	background-color: #ACA2A2;
}

#container {
	position: relative;
	max-width: 90%;
	margin: auto;
	max-width: 90%;
}

#textBox {
	position: relative;
	width: 50%;
	height: 15em;
}

#statisticBox {
	position: relative;
	margin-top: 10px;
	background-color: rgba(43, 48, 59, 0.85);
	width: 50%;
}

#statistenBox {
	
}

#alumniBox {
	position: absolute;
	height: 97.1%;
	width: 46%;
	top: 0;
	left: 53%;
	background-color: rgba(43, 48, 59, 0.85);
}

.box {
	color: white;
	font-size: 14pt;
	background-color: rgba(43, 48, 59, 0.8);
	border: 1px solid gray;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 10px 11px 56px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 11px 56px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 11px 60px -5px rgba(0, 0, 0, 0.75);
	padding: 10px;
}

body {
	max-width: 90%;
	margin: auto;
	background-image: url("worl-map.jpg");
	background-position: 50% 70%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 2em;
}

a {
	color: white;
}

a: hover {
	color: #cccccc;
}

a: visited {
	color: #cccccc;
}
